.main {
  font-family: myFirstFont;
  text-align: center;
  width: 100%;
}

.text div {
  width: fit-content;
  justify-content: center;
  display: flex;
  margin: auto;
}
.text {
  margin: 15%;
}
.main h1 {
  margin: 0;
  font-size: 15rem;
  height: fit-content;
  /* letter-spacing: -10px; */
  width: fit-content;
}

.main h3 {
  margin: -1.5rem 0 1rem 0;
  font-size: 2rem;
}
.seperator {
  font-size: 1.75rem;
}
.main p:hover {
  cursor: pointer;
}
.main p {
  font-family: myFirstFont;
  color: #f88d63;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0;
}
@media only screen and (max-width: 700px) {
  .text {
    padding: 0 2rem;
    margin: 5rem 0;
  }
  .main h1 {
    font-size: 9rem;
  }
  .seperator {
    display: none;
  }
  .main h3 {
    font-size: 1rem;
  }
  .main p {
    font-size: 1.35rem;
  }
  .menu {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
  }
}
